
<h1>Appointment for {{client_name}} on the {{date}}</h1>
<form>
<label for="appID">Appointment ID:</label>
<span id="appID">#{{appointmentID}}</span>
<br>
<label for="name">Client Name:</label>
<span id="cName">{{client_name}}</span>
<br>
<label for="appDate">Date:</label>
<span id="appDate">{{date}}</span>
<br>
<label for="startTime">Start Time:</label>
<span id="startTime">{{start_time}}</span>
<br>
<label for="endTime">End Time:</label>
<span id="endTime">{{end_time}}</span>
<br>
</form>


<ul>
<h2>list of treatments:</h2>
<button class="addButton" id="addTreatment">Add..</button>
    
{{#each treatments}}

<div class="currentTreatments">
    <ul>
        <li class="treatmentItem">TreatmentID: {{this.id}}</li>
        <li class="treatmentItem">Treatment Type: {{this.treatmentname}}</li>
        <li class="treatmentItem">Price: {{this.price}}</li>
    </ul>

    <button class="deleteTreatmentButton" id="deleteTreatment">Delete</button>
</div>


{{/each}}
</ul>

<h2>Total: £{{total_cost}}</h2>

<button class="backBtn" id="backBtn">Back</button>
<button class="deleteAppButton" id="deleteAppoint">Delete Appointment</button>
<button class="EditButton" id="EditAppoint">Edit Appointment</button>

