<h1>Appointment for {{client_name}} on the {{date}}</h1>
<h2>Appointment ID: #{{appointmentID}}</h2>
<h2>Client Name: {{client_name}}</h2>
<h2>Start Time:{{start_time}}</h2>
<h2>End Time:{{end_time}}</h2>


<ul>

<button class="addButton" id="addTreatment">Add..</button>
    
{{#each treatments}}

<div class="currentTreatments">
    <ul>
        <li class="treatmentItem">TreatmentID: {{this.id}}</li>
        <li class="treatmentItem">Treatment Type: {{this.treatmentname}}</li>
        <li class="treatmentItem">Price: {{this.price}}</li>
    </ul>

    <button class="deleteButton" id="deleteTreatment">Delete</button>
</div>


{{/each}}
</ul>

<h2>Total: £{{total_cost}}</h2>

<button class="deleteButton" id="deleteAppoint">Delete Appointment</button>
<button class="EditButton" id="EditAppoint">Edit Appointment</button>

